@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Variable', sans-serif;
  line-height: 1rem;
}

.mainContent {
  min-height: calc(100svh - 58px);
}

.disableScroll {
  @apply overflow-y-hidden;
}

@layer base {
  .container {
    @apply px-4 max-w-none laptop:px-0 laptop:max-w-3xl laptop:mx-auto
  }
  @font-face {
    font-family: 'Twemoji Country Flags';
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
    src: local("Twemoji Country Flags"), url('../fonts/TwemojiCountryFlags.woff2') format('woff2');
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
